@import './light.css';
@import './dark.css';

body {
  background-color: var(--system-background-primary);
  transition: color 0.3s ease-out, background 0.3s ease-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  --text-normal: var(--label-primary);
  --text-title: var(--label-primary);
  --text-secondary: var(--label-secondary);
  --text-link: var(--link);
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;

}

article.content img {
  /* height: 100%;
  margin: 0px;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.5s;
  color: inherit;
  box-shadow: white 0px 0px 0px 400px inset; */
}

blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: #ffe564;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-link: var(--system-red);
    --hr: hsla(0, 0%, 100%, 0.2);
    --inlineCode-bg: hsl(222, 14%, 25%);
    --inlineCode-text: #e6e6e6;
  }

  blockquote {
    color: ivory;
    background-color: hsla(20, 20%, 50%, 0.2);
    border-left-color: var(--system-red);
  }
}

blockquote {
  margin: 20px -30px 30px;
  padding: 1.25em;
  border-left-width: 9px;
  border-left-style: solid;
}

blockquote p:first-of-type:not(:last-child) {
  font-weight: 700;
  color: initial;
  margin-top: 0;
}

blockquote p:nth-of-type(2) {
  margin-top: 0;
  font-size: 17px;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: #011627;
}

/* Code blocks */
pre[class*='language-'] {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15);
}

/* Inline code */
:not(pre) > code[class='language-text'] {
  border-radius: 0.3em;
  background-color: var(--inlineCode-bg) !important;
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
  padding: 0 3px;
  word-break: break-word;
  font-family: Menlo, Consolas, Courier New, monospace;
  text-shadow: none;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

pre {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #ffa7c4;
  overflow: auto;
}

pre[class*='language-'] {
  float: left;
  min-width: 100%;
}

.token.attr-name {
  color: var(--system-green);
  font-style: italic;
}

.token.comment {
  color: rgb(99, 119, 119);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

nav > ol {
  list-style: none;
  margin-left: 0;
}

time {
  font-family: futura;
}

.post-container {
  color: var(--text-normal);
  background: var(--system-background-primary);
  transition: color 0.3s ease-out, background 0.3s ease-out;
  min-height: 100vh;
  margin: 0 auto;
}
