

h1,h2,h3,h4,h5,h6 {
  font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

p, small, strong, em, li {
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1:not(.blog-index),h2:not(.blog-index),h3:not(.blog-index) {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

p > code.language-text {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: #24292e;
}
