

h1,h2,h3,h4,h5,h6 {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

p, small, strong, em, li {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

h2:not(.blog-index),h3:not(.blog-index) {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

p > code.language-text {
  background: rgba(255,229,100,0.2);
  color: #1a1a1a;
  padding: 0 3px;
  font-size: 0.94em;
  word-break: break-word;
  font-family: Menlo, Consolas, Courier New, monospace;
  text-shadow: none;
}

p > a {
  background-color: rgba(187,239,253,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #1a1a1a;
}
